<div cg-busy="backupCtrl.promise">
  <div class="row">
    <div class="col-md-12 col-xl-6 gks-md-txt">
      <h2>Δημιουργία αντιγράφων ασφαλείας ή επαναφορά δεδομένων στην εφαρμογή</h2>

      <p>Μπορείτε να δημιουργείτε αντίγραφα ασφαλείας περιεχομένου, δεδομένων και ρυθμίσεων της εφαρμογής. Μπορείτε να επαναφέρετε πληροφορίες από τα αντίγραφα ασφαλείας στην εφαρμογή σας.</p>

      <button class="btn btn-success" ng-click="backupCtrl.createBackup()">
        <i class="fa fa-file-o" aria-hidden="true"></i> Δημιουργία αντίγραφου ασφαλείας
      </button>

      <hr>

      <h2>Επαναφορά των δεδομένων και των ρυθμίσεών σας</h2>
      <p>Μόλις δημιουργήσετε αντίγραφα ασφαλείας για τα δεδομένα σας, μπορείτε να επαναφέρετε τα δεδομένα και τις ρυθμίσεις της εφαρμογής.</p>

      <span class="btn btn-primary btn-file">
        <i class="fa fa-folder-open-o" aria-hidden="true"></i> Επαναφορά αντίγραφου ασφαλείας <input type="file" single>
      </span>

      <hr>

      <h2>Διαγραφή των δεδομένων της εφαρμογής</h2>
      <p>Εάν θέλετε να διαγράψετε τα πάντα από την εφαρμογή, αφού δημιουργήσετε αντίγραφα ασφαλείας για όλα τα δεδομένα σας, μπορείτε να κάνετε επαναφορά των εργοστασιακών ρυθμίσεων.</p>

      <p><strong>ΣΗΜΑΝΤΙΚΟ:</strong> Με την εκτέλεση της επαναφοράς θα διαγραφούν όλα τα δεδομένα από την εφαρμογή.</p>

      <button class="btn btn-danger" ng-click="backupCtrl.deleteAppData()">
        <i class="fa fa-trash-o" aria-hidden="true"></i> Επαναφορά εργοστασιακών ρυθμίσεων
      </button>
    </div>
  </div>
</div>
