<div>
  <div class="row">

  <div class="col-xs-12 gks-all-controllers">
    <a href="#" class="btn btn-success"
      ui-sref="users.user({userId: 'new', vector: allUsersCtrl.vector })">
      <i class="fa fa-plus"></i> Νέος πελάτης
    </a>
  </div>

  <div class="col-xs-12" cg-busy="allUsersCtrl.promise">
    <table ng-show="allUsersCtrl.usersTableParams.total()" ng-table="allUsersCtrl.usersTableParams" show-filter="true" class="table table-bordered table-striped">
      <colgroup>
        <col width="16%" />
        <col width="12%" />
        <col width="12%" />
        <col width="12%" />
        <col width="12%" />
        <col width="12%" />
        <col width="12%" />
        <col width="10%" />
      </colgroup>
      <tr ng-repeat="row in $data track by row._id">
        <td title="'Όνομα'" filter="{name: 'text'}" sortable="'name'">{{row.name}}</td>
        <td title="'Κωδικός'" filter="{code: 'text'}" sortable="'code'">{{row.code}}</td>
        <td title="'Α.Φ.Μ'" filter="{vat: 'text'}" sortable="'vat'">{{row.vat}}</td>
        <td title="'Δ.Ο.Υ.'" filter="{taxAuthority: 'text'}" sortable="'taxAuthority'">{{row.taxAuthority}}</td>
        <td title="'Διεύθυνση'" filter="{address: 'text'}" sortable="'address'">{{row.address}}</td>
        <td title="'Τηλέφωνο'" filter="{phone: 'text'}">{{row.phone}}</td>
        <td title="'Επάγγελμα'" filter="{profession: 'text'}" sortable="'profession'">{{row.profession}}</td>
        <td>
          <button type="button" ng-click="allUsersCtrl.editUser(row)" class="btn btn-primary btn-sm" title="Επεξεργασία"><i class="fa fa-pencil"></i></button>
          <button type="button" ng-click="allUsersCtrl.deleteUser(row)" class="btn btn-danger btn-sm" title="Διαγραφή"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </table>
    <span ng-hide="allUsersCtrl.items.length">Δεν υπάρχουν καταχωρήσεις.</span>
  </div>

  </div>
</div>
