<div>
  <div class="row">

  <div class="col-xs-12 gks-all-controllers">
    <a href="#" class="btn btn-success"
      ui-sref="products.product({productId: 'new', vector: allProductsCtrl.vector })">
      <i class="fa fa-plus"></i> Νέο προιόν
    </a>
  </div>

  <div class="col-xs-12" cg-busy="allProductsCtrl.promise">
    <table ng-table="allProductsCtrl.productsTableParams" show-filter="true" class="table table-bordered table-striped">
      <colgroup>
        <col width="30%" />
        <col width="30%" />
        <col width="30%" />
        <col width="10%" />
      </colgroup>
      <tr ng-repeat="row in $data track by row._id">
        <td title="'Όνομα'" filter="{name: 'text'}" sortable="'name'">{{row.name}}</td>
        <td title="'Αναγνωριστικό'" filter="{productId: 'text'}" sortable="'productId'">{{row.productId}}</td>
        <td title="'Φ.Π.Α.'" filter="{vat: 'number'}" sortable="'vat'">{{row.vat}}%</td>
        <td>
          <button type="button" ng-click="allProductsCtrl.editProduct(row)" class="btn btn-primary btn-sm" title="Επεξεργασία"><i class="fa fa-pencil"></i></button>
          <button type="button" ng-click="allProductsCtrl.deleteProduct(row)" class="btn btn-danger btn-sm" title="Διαγραφή"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </table>
    <span ng-hide="allProductsCtrl.items.length">Δεν υπάρχουν καταχωρήσεις.</span>
  </div>

  </div>
</div>
