@import "forza/less/styles.less";

@import "load-awesome.less";
@import "material-icons.less";

@font-face {
  font-family: 'Open Sans';
  src: url('assets/fonts/OpenSans-Regular-webfont.eot');
  src: url('assets/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/OpenSans-Regular-webfont.woff') format('woff'),
    url('assets/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
    url('assets/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('assets/fonts/fontawesome-webfont.eot?v=4.6.3');
  src: url('assets/fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('assets/fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('assets/fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('assets/fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('assets/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

[ui-view] {
  margin-top: 20px;
}

gkiosa-alerts {
  margin-top: 15px;
  margin-bottom: -5px;
  display: block;
}

.breadcrumb {
  padding: 7px 2px;
  .seperator {
    margin-right: 10px;
    color: #666;
  }
}

.gks-all-users-controllers {
  margin-bottom: 15px;
}
