<div class="container" cg-busy="userCtrl.promiseOfUser">
  <span ng-hide="userCtrl.user || userCtrl.isNew">
    Δεν βρέθηκε χρήστης
  </span>
  <form ng-show="userCtrl.user || userCtrl.isNew" role="form" class="form-horizontal">
    <div class="form-group">
      <label class="col-xs-1">Όνομα</label>
      <div class="col-xs-7">
        <input type="text" ng-model="userCtrl.user.name" class="form-control" placeholder="Όνομα"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-5">
        <label>Κωδικός</label>
        <input type="text" ng-model="userCtrl.user.code" class="form-control" placeholder="Κωδικός"/>
      </div>
      <div class="col-xs-5">
        <label>{{userCtrl.vector === 'CUSTOMER' ? 'Χρέως' : 'Οφειλές'}}</label>
        <input type="number" ng-model="userCtrl.user.debt" class="form-control" placeholder="0"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-5">
        <label>Α.Φ.Μ</label>
        <input type="text" ng-model="userCtrl.user.vat" class="form-control" placeholder="Α.Φ.Μ"/>
      </div>
      <div class="col-xs-5">
        <label>Δ.Ο.Υ.</label>
        <input type="text" ng-model="userCtrl.user.taxAuthority" class="form-control" placeholder="Δ.Ο.Υ."/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-5">
        <label>Διεύθυνση</label>
        <input type="text" ng-model="userCtrl.user.address" class="form-control" placeholder="Διεύθυνση"/>
      </div>
      <div class="col-xs-5">
        <label>Επάγγελμα</label>
        <input type="text" ng-model="userCtrl.user.profession" class="form-control" placeholder="Επάγγελμα"/>
      </div>
    </div>
    <hr>
    <button type="submit" ng-if="userCtrl.isNew" class="btn btn-success" ng-click="userCtrl.createUser(userCtrl.user)">
      <i class="fa fa-file-o"></i> Καταχώρηση
    </button>
    <button type="submit" ng-if="!userCtrl.isNew" class="btn btn-success" ng-click="userCtrl.updateUser(userCtrl.user)">
      <i class="fa fa-save"></i> Αποθήκευση
    </button>
    <button type="submit" ng-if="!userCtrl.isNew" class="btn btn-danger" ng-click="userCtrl.deleteUser(userCtrl.user)">
      <i class="fa fa-trash-o"></i> Διαγραφή
    </button>
  </form>

</div>
