<div cg-busy="invoiceCtrl.promiseOfInvoice">
  <span ng-hide="invoiceCtrl.invoice || invoiceCtrl.isNew">
    Δεν βρέθηκε τιμολόγιο
  </span>

  <div ng-show="invoiceCtrl.invoice || invoiceCtrl.isNew">

    <div class="row" >
      <div class="col-lg-12">
        <div class="well well-sm padding-8">
          <button ng-if="invoiceCtrl.ctx.isBrowser()" type="button" ng-click="invoiceCtrl.generatePdf()" class="btn btn-social btn-primary" title="Δημιουργία pdf">
            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
          </button>
          <button ng-if="invoiceCtrl.ctx.isBrowser()" type="button" ng-click="invoiceCtrl.printPdf()" class="btn btn-social btn-primary" title="Εκτύπωση pdf">
            <i class="fa fa-print" aria-hidden="true"></i>
          </button>
          <button type="button" ng-click="invoiceCtrl.downloadPdf()" class="btn btn-social btn-primary" title="Κατέβασμα pdf">
            <i class="fa fa-download" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <form role="form" class="form-horizontal" name="formItem">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <div class="col-sm-11">
              <label >Χρήστης</label>
              <ui-select ng-model="invoiceCtrl.invoice.userId" title="Διάλεξε χρήστη" append-to-body="true">
                <ui-select-match placeholder="Χρήστης...">
                  <span ng-show="$select.selected.name">{{$select.selected.name}}, Α.Φ.Μ: {{$select.selected.vat}}</span>
                  <span ng-hide="invoiceCtrl.isNew || $select.selected.name"><i class="fa fa-warning"></i> Ο χρήστης έχει διαγραφεί</span>
                </ui-select-match>
                <ui-select-choices repeat="user._id as user in invoiceCtrl.users | propsFilter: {name: $select.search, vat: $select.search, code: $select.search}">
                   <div ng-bind-html="''+user.name | highlight: $select.search"></div>
                  <small>
                    <span ng-bind-html="'Α.Φ.Μ: ' + user.vat | highlight: $select.search"></span>,
                    <span ng-bind-html="'Κωδικός: ' + user.code | highlight: $select.search"></span>
                  </small>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-11">
              <label>Ημερομηνία</label>
              <div class="gks-date clearfix">
                <input type="text" class="pull-left gks-date-picker" uib-datepicker-popup="dd/M/yyyy" ng-model="invoiceCtrl.invoice.date" close-text="Close" alt-input-formats="{{['M!/d!/yyyy']}}" is-open="$scope.popup1.opened" required/>
                <button type="button" class="pull-left gks-date-btn btn btn-sm btn-default" ng-click="$scope.popup1.opened = true">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-11">
              <label>Τίτλος (κωδ. {{invoiceCtrl.invoice.uniqId}})</label>
              <input type="text" ng-model="invoiceCtrl.invoice.invoiceNum" class="form-control" placeholder="Τιμολόγιο" required/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-11">
              <label>Πιστωτικό</label>
              <input type="checkbox" ng-model="invoiceCtrl.invoice.credit">
            </div>
          </div>
        </div>

        <div class="col-md-8">
          <div class="form-group">
            <div class="col-sm-12 clearfix gks-invoices-add-product">
              <label class=""><i class="fa fa-plus"></i> Προσθήκη προιόντος</label>
              <ui-select class="" ng-model="invoiceCtrl.newProduct" title="Διάλεξε χρήστη" append-to-body="true">
                <ui-select-match placeholder="Προιόν...">{{$select.selected.name}}</ui-select-match>
                <ui-select-choices repeat="product in invoiceCtrl.products | propsFilter: {name: $select.search, productId: $select.search}">
                   <div ng-bind-html="'' + product.name | highlight: $select.search"></div>
                  <small>
                    <span ng-bind-html="'Αναγνωριστικό: ' + product.productId | highlight: $select.search"></span>
                  </small>
                </ui-select-choices>
              </ui-select>
            </div>
          </div>

          <table ng-show="invoiceCtrl.invoiceProductsTableParams.total()" ng-table="invoiceCtrl.invoiceProductsTableParams" show-filter="true" class="gks-invoice-products table table-bordered table-striped table-hover">
            <colgroup>
              <col width="23%" />
              <col width="17%" />
              <col width="10%" />
              <col width="17%" />
              <col width="14%" />
              <col width="20%" />
            </colgroup>
            <tr ng-repeat="prRow in $data" ng-class="{'invoice-products-edited': invoiceCtrl.isProductEdited(prRow)}">
              <td title="'Όνομα'" filter="{name: 'text'}" sortable="'name'">
                <span ng-hide="invoiceCtrl.isProductEdited(prRow)">{{prRow.name}}</span>
                <input ng-if="invoiceCtrl.isProductEdited(prRow)" type="text" ng-model="prRow.name" class="form-control" required>
              </td>
              <td title="'Αναγνωριστικό'" filter="{productId: 'text'}" sortable="'productId'">
                <span ng-hide="invoiceCtrl.isProductEdited(prRow)">{{prRow.productId}}</span>
                <input ng-if="invoiceCtrl.isProductEdited(prRow)" type="text" ng-model="prRow.productId" class="form-control" required>
              </td>
              <td title="'Φ.Π.Α.'" filter="{vat: 'number'}" sortable="'vat'">
                <span ng-hide="invoiceCtrl.isProductEdited(prRow)">{{prRow.vat}}</span>
                <input ng-if="invoiceCtrl.isProductEdited(prRow)" type="text" ng-model="prRow.vat" class="form-control" required>
              </td>
              <td title="'Τιμή'" filter="{price: 'number'}" sortable="'price'">
                <span ng-hide="invoiceCtrl.isProductEdited(prRow)">{{prRow.price}}</span>
                <input ng-if="invoiceCtrl.isProductEdited(prRow)" type="number" min="0" ng-model="prRow.price" class="form-control" required>
              </td>
              <td title="'Ποσότητα'" filter="{quantity: 'number'}" sortable="'quantity'">
                <span ng-hide="invoiceCtrl.isProductEdited(prRow)">{{prRow.quantity}}</span>
                <input ng-if="invoiceCtrl.isProductEdited(prRow)" type="number" min="0" ng-model="prRow.quantity" class="form-control" required>
              </td>
              <td>
                <button type="button" ng-click="invoiceCtrl.editProduct(prRow)" class="btn btn-sm" title="Επεξεργασία" ng-disabled="invoiceCtrl.isProductInvalid(prRow)" ng-class="{
                    'btn-primary': !invoiceCtrl.isProductEdited(prRow),
                    'btn-success': invoiceCtrl.isProductEdited(prRow)
                  }">
                  <i class="fa" ng-class="{
                    'fa-pencil': !invoiceCtrl.isProductEdited(prRow),
                    'fa-check': invoiceCtrl.isProductEdited(prRow)
                  }"></i>
                </button>
                <button type="button" ng-click="invoiceCtrl.deleteProduct(prRow)" class="btn btn-danger btn-sm" title="Διαγραφή"><i class="fa fa-trash-o"></i></button>
              </td>
            </tr>
          </table>
        </div>

      </div> <!-- row -->

      <hr>
      <span class="glyphicon glyphicon-info-sign gks-invalid-notify" uib-tooltip="Η φόρμα δεν είναι συμπληρωμένη σωστά" ng-show="invoiceCtrl.isItemInvalid()" tooltip-append-to-body="true"></span>
      <button type="submit" ng-if="invoiceCtrl.isNew" class="btn btn-success" ng-click="invoiceCtrl.createInvoice(invoiceCtrl.invoice)" ng-disabled="invoiceCtrl.isItemInvalid()">
        <i class="fa fa-file-o"></i> Καταχώρηση
      </button>
      <button type="submit" ng-if="!invoiceCtrl.isNew" class="btn btn-success" ng-click="invoiceCtrl.updateInvoice(invoiceCtrl.invoice)" ng-disabled="invoiceCtrl.isItemInvalid()">
        <i class="fa fa-save"></i> Αποθήκευση
      </button>
      <button type="submit" ng-if="!invoiceCtrl.isNew" class="btn btn-danger" ng-click="invoiceCtrl.deleteInvoice(invoiceCtrl.invoice)">
        <i class="fa fa-trash-o"></i> Διαγραφή
      </button>
    </form>
  </div>

</div>
