<!DOCTYPE html>
<html ng-app="gkiosa.app" lang="el">
  <head>
    <meta charset="UTF-8">
    <title>Gkiosa</title>

    {{#thirdPartyCss}}
      <link rel="stylesheet" href="{{#stripBase}}{{{.}}}{{/stripBase}}"/>
    {{/thirdPartyCss}}
    <link rel="stylesheet" href="{{{appCss}}}"/>

  </head>
  <body ng-controller="AppController as appCtrl">

  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#/">Gkiosa</a>
    </div>
  </header>

  <div id="page-container" class="clearfix">
    {{=<% %>=}}
    <nav id="page-leftbar" class="sidebar-nav" role="navigation">
      <ul id="sidebar" class="sidebar">
        <li ng-repeat="menu in appCtrl.sidebarMenu"
          ng-class="{active: appCtrl.activeSidebarMenuId === menu.id}"
          ng-click="appCtrl.sidebarMenuClicked()">
          <a ui-sref="{{menu.sref}}">
            <i class="fa {{menu.icon}}"></i>
            <span ng-bind="menu.name"></span>
          </a>
        </li>
      </ul>
    </nav>

    <div id="page-content">
      <div id="wrap">
        <div id="page-heading"></div>
        <div class="container-fluid">
          <ol ng-if="appCtrl.breadcrumb" class="breadcrumb">
            <button type="button" ng-click="appCtrl.historyGoBack()" class="btn btn-default btn-sm" title="Πίσω">
              <i class="fa fa-chevron-left"></i>
            </button>
            <button type="button" ng-click="appCtrl.historyGoForward()" class="btn btn-default btn-sm" title="Μπροστά">
              <i class="fa fa-chevron-right"></i>
            </button>
            <span class="seperator">|</span>
            <li ng-repeat="crumb in appCtrl.breadcrumb" ng-class="{active: $last}">
              <a ng-if="!$last" ui-sref="{{crumb.sref}}" ng-bind="crumb.name"></a>
              <span ng-if="$last" ng-bind="crumb.name"></span>
            </li>
          </ol>
          <gkiosa-alerts></gkiosa-alerts>
          <div ui-view></div>
        </div>
      </div>
    </div>
  </div>
  <%={{ }}=%>

  <footer class="footer">
      <p class="text-center">
        Gkiosa
      </p>
  </footer>
  </body>

  {{#thirdPartyScripts}}
    <script src="{{#stripBase}}{{{.}}}{{/stripBase}}"></script>
  {{/thirdPartyScripts}}
  {{#appScripts}}
    <script src="{{#stripBase}}{{{.}}}{{/stripBase}}"></script>
  {{/appScripts}}
</html>
