<!DOCTYPE html>
<html ng-app="gkiosa.app">
  <head>
    <meta charset="UTF-8">
    <title>Gkiosa</title>

      <link rel="stylesheet" href="third-party-libs/font-awesome/css/font-awesome.css"/>
      <link rel="stylesheet" href="third-party-libs/angular-busy/angular-busy.css"/>
      <link rel="stylesheet" href="third-party-libs/load-awesome/css/ball-clip-rotate.css"/>
      <link rel="stylesheet" href="third-party-libs/ng-table/dist/ng-table.css"/>
    <link rel="stylesheet" href="app.css"/>

  </head>
  <body ng-controller="AppController as appCtrl">

  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#/">Gkiosa</a>
    </div>
  </header>

  <div id="page-container" class="clearfix">
    <nav id="page-leftbar" class="sidebar-nav" role="navigation">
      <ul id="sidebar" class="sidebar">
        <li ng-repeat="menu in appCtrl.sidebarMenu"
          ng-class="{active: appCtrl.activeSidebarMenuId === menu.id}"
          ng-click="appCtrl.sidebarMenuClicked()">
          <a ui-sref="{{menu.sref}}">
            <i class="fa {{menu.icon}}"></i>
            <span>{{menu.name}}</span>
          </a>
        </li>
      </ul>
    </nav>

    <div id="page-content">
      <div id="wrap">
        <div id="page-heading"></div>
        <div class="container-fluid">
          <ol ng-if="appCtrl.breadcrumb" class="breadcrumb">
            <button type="button" ng-click="appCtrl.historyGoBack()" class="btn btn-default btn-sm" title="Πίσω">
              <i class="fa fa-chevron-left"></i>
            </button>
            <button type="button" ng-click="appCtrl.historyGoForward()" class="btn btn-default btn-sm" title="Μπροστά">
              <i class="fa fa-chevron-right"></i>
            </button>
            <span class="seperator">|</span>
            <li ng-repeat="crumb in appCtrl.breadcrumb" ng-class="{active: $last}">
              <a ng-if="!$last" ui-sref="{{crumb.sref}}">{{crumb.name}}</a>
              <span ng-if="$last">{{crumb.name}}</span>
            </li>
          </ol>
          <gkiosa-alerts></gkiosa-alerts>
          <div ui-view></div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
      <p class="text-center">
        Gkiosa
      </p>
  </footer>
  </body>

    <script src="third-party-libs/lodash/dist/lodash.js"></script>
    <script src="third-party-libs/jquery/dist/jquery.js"></script>
    <script src="third-party-libs/angular/angular.js"></script>
    <script src="third-party-libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="third-party-libs/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="third-party-libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="third-party-libs/angular-busy/angular-busy.js"></script>
    <script src="third-party-libs/ng-table/dist/ng-table.js"></script>
    <script src="third-party-libs/nedb/browser-version/out/nedb.js"></script>
    <script src="app.js"></script>
    <script src="components/alerts/alerts.js"></script>
    <script src="components/gkiosa-api/gkiosa-api.js"></script>
    <script src="sections/users/all-users/all-users.js"></script>
    <script src="sections/users/user/user.js"></script>
    <script src="sections/users/users.js"></script>
    <script src="components/alerts/alerts-directive.js"></script>
    <script src="components/gkiosa-api/api-service.js"></script>
    <script src="components/gkiosa-api/user-service.js"></script>
    <script src="sections/users/all-users/all-users-controller.js"></script>
    <script src="sections/users/user/user-controller.js"></script>
</html>
