<!DOCTYPE html>
<html ng-app="gkiosa.app" lang="el">
  <head>
    <meta charset="UTF-8">
    <title>Gkiosa</title>

      <link rel="stylesheet" href="third-party-libs/font-awesome/css/font-awesome.css"/>
      <link rel="stylesheet" href="third-party-libs/angular-busy/angular-busy.css"/>
      <link rel="stylesheet" href="third-party-libs/load-awesome/css/ball-clip-rotate.css"/>
      <link rel="stylesheet" href="third-party-libs/ng-table/dist/ng-table.css"/>
      <link rel="stylesheet" href="third-party-libs/angular-ui-select/dist/select.css"/>
      <link rel="stylesheet" href="third-party-libs/select2/dist/css/select2.css"/>
      <link rel="stylesheet" href="third-party-libs/angular-toastr/dist/angular-toastr.css"/>
      <link rel="stylesheet" href="third-party-libs/bootstrap-daterangepicker/daterangepicker.css"/>
    <link rel="stylesheet" href="app.css"/>

  </head>
  <body ng-controller="AppController as appCtrl">

  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#/">Gkiosa</a>
    </div>
    <ul class="nav navbar-nav pull-right toolbar">
      <li class="dropdown gks-options" uib-dropdown>
        <a href id="simple-dropdown" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
          <span class="">Επιλογές </span>
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
          <li>
            <a ui-sref="about()"><i class="fa fa-info-circle"></i> Πληροφορίες</a>
          </li>
          <li>
            <a ui-sref="licence()"><i class="fa fa-copyright"></i> Δικαιώματα</a>
          </li>
          <li>
            <a ui-sref="backup()"><i class="fa fa-lock"></i> Αντίγραφο Ασφαλείας</a>
          </li>
        </ul>
      </li>
    </ul>
  </header>




  <div id="page-container" class="clearfix">
    <nav id="page-leftbar" class="sidebar-nav" role="navigation">
      <ul id="sidebar" class="sidebar">
        <li ng-repeat="menu in appCtrl.sidebarMenu"
          ng-class="{active: appCtrl.activeSidebarMenuId === menu.id}"
          ng-click="appCtrl.sidebarMenuClicked()">
          <a ui-sref="{{menu.sref}}">
            <i class="fa {{menu.icon}}"></i>
            <span ng-bind="menu.name"></span>
          </a>
        </li>
      </ul>
    </nav>

    <div id="page-content">
      <div id="wrap">
        <div id="page-heading"></div>
        <div class="container-fluid">
          <ol ng-if="appCtrl.breadcrumb" class="breadcrumb">
            <button type="button" ng-click="appCtrl.historyGoBack()" class="btn btn-default btn-sm" title="Πίσω">
              <i class="fa fa-chevron-left"></i>
            </button>
            <button type="button" ng-click="appCtrl.historyGoForward()" class="btn btn-default btn-sm" title="Μπροστά">
              <i class="fa fa-chevron-right"></i>
            </button>
            <span class="seperator">|</span>
            <li ng-repeat="crumb in appCtrl.breadcrumb" ng-class="{active: $last}">
              <a ng-if="!$last" ui-sref="{{crumb.sref}}" ng-bind="crumb.name"></a>
              <span ng-if="$last" ng-bind="crumb.name"></span>
            </li>
          </ol>
          <gkiosa-alerts></gkiosa-alerts>
          <div ui-view></div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <p class="text-center">
      Gkiosa - All rights reserved, John Apostolidis, 2016
    </p>
  </footer>
  </body>

    <script src="third-party-libs/pdfmake/build/pdfmake.js"></script>
    <script src="third-party-libs/lodash/dist/lodash.js"></script>
    <script src="components/require-system/override-module-system.js"></script>
    <script src="third-party-libs/jquery/dist/jquery.js"></script>
    <script src="components/require-system/restore-module-system.js"></script>
    <script src="third-party-libs/moment/moment.js"></script>
    <script src="third-party-libs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="third-party-libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="third-party-libs/angular/angular.js"></script>
    <script src="third-party-libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="third-party-libs/angular-ui-select/dist/select.js"></script>
    <script src="third-party-libs/select2/dist/js/select2.js"></script>
    <script src="third-party-libs/angular-sanitize/angular-sanitize.js"></script>
    <script src="third-party-libs/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="third-party-libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="third-party-libs/angular-busy/angular-busy.js"></script>
    <script src="third-party-libs/ng-table/dist/ng-table.js"></script>
    <script src="third-party-libs/angular-toastr/dist/angular-toastr.js"></script>
    <script src="third-party-libs/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="third-party-libs/angular-animate/angular-animate.js"></script>
    <script src="third-party-libs/bootbox/bootbox.js"></script>
    <script src="third-party-libs/ngBootbox/dist/ngBootbox.js"></script>
    <script src="third-party-libs/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="third-party-libs/highcharts/highstock.js"></script>
    <script src="third-party-libs/nedb/browser-version/out/nedb.js"></script>
    <script src="app.js"></script>
    <script src="components/charts/charts.js"></script>
    <script src="components/context/context.js"></script>
    <script src="components/date-range-picker/date-range-picker.js"></script>
    <script src="components/file-utilities/file-utilities.js"></script>
    <script src="components/filters/filters.js"></script>
    <script src="components/gkiosa-api/gkiosa-api.js"></script>
    <script src="components/pagination/pagination.js"></script>
    <script src="components/pdf-generator/pdf-generator.js"></script>
    <script src="components/require-system/override-module-system.js"></script>
    <script src="components/require-system/restore-module-system.js"></script>
    <script src="sections/about/about.js"></script>
    <script src="sections/backup/backup.js"></script>
    <script src="sections/dashboard/dashboard.js"></script>
    <script src="sections/invoices/all-invoices/all-invoices.js"></script>
    <script src="sections/invoices/invoice/invoice.js"></script>
    <script src="sections/invoices/invoices.js"></script>
    <script src="sections/licence/licence.js"></script>
    <script src="sections/mixed-items/mixed-items.js"></script>
    <script src="sections/products/all-products/all-products.js"></script>
    <script src="sections/products/product/product.js"></script>
    <script src="sections/products/products.js"></script>
    <script src="sections/receipts/all-receipts/all-receipts.js"></script>
    <script src="sections/receipts/receipt/receipt.js"></script>
    <script src="sections/receipts/receipts.js"></script>
    <script src="sections/users/all-users/all-users.js"></script>
    <script src="sections/users/user/user.js"></script>
    <script src="sections/users/users.js"></script>
    <script src="components/charts/charts-service.js"></script>
    <script src="components/context/context-service.js"></script>
    <script src="components/date-range-picker/date-range-picker-directive.js"></script>
    <script src="components/file-utilities/file-utilities-service.js"></script>
    <script src="components/filters/filters-filter.js"></script>
    <script src="components/gkiosa-api/api-service.js"></script>
    <script src="components/gkiosa-api/api-utilities-service.js"></script>
    <script src="components/pagination/pagination-service.js"></script>
    <script src="components/pdf-generator/mixed-items-service.js"></script>
    <script src="components/pdf-generator/pdf-generator-service.js"></script>
    <script src="sections/about/about-controller.js"></script>
    <script src="sections/backup/backup-controller.js"></script>
    <script src="sections/dashboard/dashboard-controller.js"></script>
    <script src="sections/invoices/all-invoices/all-invoices-service.js"></script>
    <script src="sections/invoices/invoice/invoice-controller.js"></script>
    <script src="sections/licence/licence-controller.js"></script>
    <script src="sections/mixed-items/mixed-items-controller.js"></script>
    <script src="sections/products/all-products/all-products-controller.js"></script>
    <script src="sections/products/product/product-controller.js"></script>
    <script src="sections/receipts/all-receipts/all-receipts-service.js"></script>
    <script src="sections/receipts/receipt/receipt-controller.js"></script>
    <script src="sections/users/all-users/all-users-controller.js"></script>
    <script src="sections/users/user/user-controller.js"></script>
</html>
