<div class="gks-table-custom-filter-boolean">
  <button type="button" ng-click="allInvoicesCtrl.invoicesTableParams.customFilters.boolean(params.filter(), name)" class="btn btn-default btn-sm" title="Εφαρμογή φίλτρου">
    <i class="fa" ng-class="{
      'fa-chevron-left': params.filter()[name] !== undefined,
      'fa-chevron-right': params.filter()[name] === undefined
    }"></i>
  </button>
  <label ng-hide="params.filter()[name] === undefined">ενεργό</label>
  <input ng-hide="params.filter()[name] === undefined" type="checkbox" ng-model="params.filter()[name]">
</div>
