<ui-select ng-model="params.filter()[name]" title="Διάλεξε χρήστη" append-to-body="true">
  <ui-select-match placeholder="Χρήστης..." allow-clear="true">
    {{$select.selected.name}}, Α.Φ.Μ: {{$select.selected.vat}}
  </ui-select-match>
  <ui-select-choices repeat="user._id as user in allUsers | propsFilter: {name: $select.search, vat: $select.search, code: $select.search}">
     <div ng-bind-html="''+user.name | highlight: $select.search"></div>
    <small>
      <span ng-bind-html="'Α.Φ.Μ: ' + user.vat | highlight: $select.search"></span>,
      <span ng-bind-html="'Κωδικός: ' + user.code | highlight: $select.search"></span>
    </small>
  </ui-select-choices>
</ui-select>
