<div>
  <div class="row">

  <div class="col-xs-12 gks-all-controllers">
    <a href="#" class="btn btn-success"
      ui-sref="invoices.invoice({invoiceId: 'new', vector: allInvoicesCtrl.vector })">
      <i class="fa fa-plus"></i> Νέο τιμολόγιο
    </a>
  </div>

  <div class="col-xs-12" cg-busy="allInvoicesCtrl.promise">
    <table ng-show="allInvoicesCtrl.invoicesTableParams.total()" ng-table="allInvoicesCtrl.invoicesTableParams" show-filter="true" class="els-all-receipts table table-bordered table-striped table-hover">
      <colgroup>
        <!--<col width="25%" />-->
        <!--<col width="15%" />-->
        <!--<col width="15%" />-->
        <!--<col width="15%" />-->
        <!--<col width="15%" />-->
        <!--<col width="5%" />-->
        <!--<col width="10%" />-->
      </colgroup>
      <tr ng-repeat-start="row in $data track by row._id">
        <td title="'Χρήστης'" filter="{'userId': 'components/table-custom-filters/select-user.html'}" sortable="'user.name'">
          <a href="#" ui-sref="users.user({userId: row.user._id, vector: allInvoicesCtrl.vector, name: row.user.name})">
            {{row.user.name}}
          </a>
        </td>
        <td title="'Α.Φ.Μ'" filter="{'user.vat': 'text'}" sortable="'user.vat'">{{row.user.vat}}</td>
        <td title="'Ημερομηνία'" filter="{date: 'components/table-custom-filters/date.html'}" sortable="'date'">
          {{row.date | date: 'd/M/yyyy HH:mm:ss'}}
        </td>
        <td title="'Πιστωτικό'" filter="{credit: 'components/table-custom-filters/boolean.html'}" sortable="'credit'">
          <span ng-if="row.credit"><i class="fa fa-check"></i></span>
          <span ng-if="!row.credit"><i class="fa fa-times"></i></span>
        </td>
        <td title="'Τιμολόγιο'" filter="{invoiceNum: 'text'}" sortable="'invoiceNum'">{{row.invoiceNum}}</td>
        <td title="'Προιόντα'">
          {{row.products.length}}
          <button type="button" ng-click="allInvoicesCtrl.expandInvoice($index, row)" class="btn btn-default btn-xs" title="Προιόντα"><i class="fa fa-chevron-down"></i></button>
        </td>
        <td title="'Σύνολο'">{{row.getTotalPrice()}}</td>
        <td title="'Σύνολο (Φ.Π.Α)'">{{row.getTotalVatPrice()}}</td>
        <td>
          <button type="button" ng-click="allInvoicesCtrl.editInvoice(row)" class="btn btn-primary btn-sm" title="Επεξεργασία"><i class="fa fa-pencil"></i></button>
          <button type="button" ng-click="allInvoicesCtrl.deleteInvoice(row)" class="btn btn-danger btn-sm" title="Διαγραφή"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
      <tr class="gks-expanded-invoice well" ng-if="allInvoicesCtrl.getInvoiceTable($index)" ng-repeat-end>
        <td colspan="100">
          <table ng-table="allInvoicesCtrl.getInvoiceTable($index)" show-filter="true" class="table table-bordered table-striped table-hover">
            <tr ng-repeat="product in row.products">
              <td title="'Όνομα'" filter="{name: 'text'}" sortable="'name'">{{product.name}}</td>
              <td title="'Αναγνωριστικό'" filter="{productId: 'text'}" sortable="'productId'">{{product.productId}}</td>
              <td title="'Φ.Π.Α.'" filter="{vat: 'text'}" sortable="'vat'">{{product.vat}}%</td>
              <td title="'Τιμή'" filter="{price: 'number'}" sortable="'price'">{{product.price}}</td>
              <td title="'Ποσότητα'" filter="{quantity: 'number'}" sortable="'quantity'">{{product.quantity}}</td>
              <td title="'Σύνολο'">{{product.getVatPrice()}}</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
    <span ng-hide="allInvoicesCtrl.items.length">Δεν υπάρχουν καταχωρήσεις.</span>
  </div>

  </div>
</div>
