<div>
  <div class="row margin-bottom-default">

      <div class="col-lg-4 col-md-6">
        <label for="user-selection">Χρήστης</label>
        <div id="user-selection">
          <ui-select ng-model="mixedItemsCtrl.userId" title="Διάλεξε χρήστη" append-to-body="true">
            <ui-select-match placeholder="Χρήστης...">
              <span ng-show="$select.selected.name">
                {{$select.selected.name}}, Α.Φ.Μ: {{$select.selected.vat}}
              </span>
            </ui-select-match>
            <ui-select-choices repeat="user._id as user in mixedItemsCtrl.allUsers | propsFilter: {name: $select.search, vat: $select.search, code: $select.search}">
              <div ng-bind-html="''+user.name | highlight: $select.search"></div>
              <small>
                <span ng-bind-html="'Α.Φ.Μ: ' + user.vat | highlight: $select.search"></span>,
                <span ng-bind-html="'Κωδικός: ' + user.code | highlight: $select.search"></span>
              </small>
            </ui-select-choices>
          </ui-select>
        </div>
      </div> <!--user selection-->

      <div class="col-lg-4 col-md-6">
        <label for="date-range-selection">Περίοδος</label>
        <div id="date-range-selection">
          <gks-date-range-picker
            range="mixedItemsCtrl.date">
          </gks-date-range-picker>
        </div>
      </div> <!--date range selection-->

  </div>

  <div class="row" ng-show="mixedItemsCtrl.mixedItemsTable.total()">
    <div class="col-lg-9">
      <div class="well well-sm padding-8">
        <button type="button" ng-click="mixedItemsCtrl.generatePdf()" class="btn btn-social btn-primary" title="Δημιουργία pdf">
          <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        </button>
        <button type="button" ng-click="mixedItemsCtrl.printPdf()" class="btn btn-social btn-primary" title="Εκτύπωση pdf">
          <i class="fa fa-print" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="row" cg-busy="mixedItemsCtrl.promise">
    <div class="col-lg-9">
      <table ng-show="mixedItemsCtrl.mixedItemsTable.total()" ng-table="mixedItemsCtrl.mixedItemsTable" show-filter="true" class="table table-bordered table-striped table-hover">
         <!--<colgroup>-->
          <!--<col width="10%" />-->
          <!--<col width="40%" />-->
          <!--<col width="20%" />-->
          <!--<col width="30%" />-->
        <!--</colgroup>-->
        <tr ng-repeat="row in $data">
          <td title="'Τύπος'" filter="{'type.name': 'text'}" sortable="'type.name'">
            <button type="button" ng-click="mixedItemsCtrl.openItem(row)" class="btn btn-link btn-sm">
              {{row.type.name}}
            </button>
          </td>
          <td title="'Όνομα'" filter="{name: 'text'}" sortable="'name'">{{row.name}}</td>
          <td title="'Κωδ. '" filter="{uniqId: 'number'}" sortable="'uniqId'">{{row.uniqId}}</td>
          <td title="'Ημερομηνία'" filter="{date: 'text'}" sortable="'date'">
            {{row.date | date: 'd/M/yyyy HH:mm:ss'}}
          </td>
          <td title="'Χρέωση'" >{{row.raw.vector === 'CUSTOMERS' ? row.getTotalVatPrice() : 0}}</td>
          <td title="'Πίστωση'" >{{row.raw.vector === 'SUPPLIERS' ? row.getTotalVatPrice() : 0}}</td>

          <td title="'Προδ. Χρέωση'" >{{row.progressive['CUSTOMERS']}}</td>
          <td title="'Προδ. Πίστωση'" >{{row.progressive['SUPPLIERS']}}</td>
          <td title="'Προδ. Σύνολο'" >{{row.progressive['TOTAL'] < 0 ? -1 * row.progressive['TOTAL'] : row.progressive['TOTAL']}}</td>
        </tr>
      </table>
      <hr ng-hide="mixedItemsCtrl.mixedItemsTable.total()">
      <span ng-hide="mixedItemsCtrl.userId"><b>Διαλέξτε χρήστη</b> </span>
      <span ng-hide="mixedItemsCtrl.date"><b> Διαλέξτε περίοδο</b> </span>
      <span ng-show="mixedItemsCtrl.userId && mixedItemsCtrl.date && mixedItemsCtrl.mixedItemsTable.total() === 0"><b>Δεν βρέθηκαν αποτελέσματα</b></span>
    </div>
  </div>

</div>
