<div>
  <div class="row">

  <div class="col-xs-12 gks-all-controllers">
    <form role="form" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-1">Χρήστης</label>
        <div class="col-sm-5">
          <ui-select ng-model="mixedItemsCtrl.userId" title="Διάλεξε χρήστη" append-to-body="true">
            <ui-select-match placeholder="Χρήστης...">
              {{$select.selected.name}}, Α.Φ.Μ: {{$select.selected.vat}}
            </ui-select-match>
            <ui-select-choices repeat="user._id as user in mixedItemsCtrl.allUsers | propsFilter: {name: $select.search, vat: $select.search, code: $select.search}">
               <div ng-bind-html="''+user.name | highlight: $select.search"></div>
              <small>
                <span ng-bind-html="'Α.Φ.Μ: ' + user.vat | highlight: $select.search"></span>,
                <span ng-bind-html="'Κωδικός: ' + user.code | highlight: $select.search"></span>
              </small>
            </ui-select-choices>
          </ui-select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1">Περίοδος</label>
        <div class="col-sm-5">
          <gks-date-range-picker
            range="mixedItemsCtrl.date">
          </gks-date-range-picker>
        </div>
      </div>
    </form>
  </div>

  <div class="col-xs-12" cg-busy="mixedItemsCtrl.promise">
    <table ng-show="mixedItemsCtrl.mixedItemsTable.total()" ng-table="mixedItemsCtrl.mixedItemsTable" show-filter="true" class=" table table-bordered table-striped table-hover">
<!--       <colgroup>
        <col width="23%" />
      </colgroup> -->
      <tr ng-repeat="row in $data">
        <td title="'Τύπος'" filter="{type: 'text'}" sortable="'type'">{{row.type}}</td>
        <td title="'Όνομα'" filter="{name: 'text'}" sortable="'name'">{{row.name}}</td>
        <td title="'Ημερομηνία'" filter="{date: 'text'}" sortable="'date'">{{row.date}}</td>
        <td title="'Σύνολο'" >{{row.total()}}</td>
      </tr>
    </table>
  </div>

  </div>

</div>
