<div class="gks-all-receipts">
  <div class="row">

  <div class="col-xs-12 gks-all-controllers">
    <a href="#" class="btn btn-success"
      ui-sref="receipts.receipt({receiptId: 'new', vector: allReceiptsCtrl.vector })">
      <i class="fa fa-plus"></i> Νέα απόδειξη
    </a>
  </div>

  <div class="col-xs-12" cg-busy="allReceiptsCtrl.promise">
    <table ng-show="allReceiptsCtrl.receiptsTableParams.total()" ng-table="allReceiptsCtrl.receiptsTableParams" show-filter="true" class="table table-bordered table-striped">
      <colgroup>
        <col width="*" />
        <col width="*" />
        <col width="*" />
        <col width="*" />
        <col width="*" />
        <col width="*" />
        <col width="*" />
        <col width="*" />
        <col width="90px" />
      </colgroup>
      <tr ng-repeat="row in $data track by row._id">
        <td title="'Χρήστης'" filter="{'userId': 'components/table-custom-filters/select-user.html'}" sortable="'user.name'">
          <a href="#" ui-sref="users.user({userId: row.user._id, vector: allReceiptsCtrl.vector, name: row.user.name})">
            {{row.user.name}}
          </a>
        </td>
        <td title="'Α.Φ.Μ'" filter="{'user.vat': 'text'}" sortable="'user.vat'">{{row.user.vat}}</td>
        <td title="'Ημερομηνία'" filter="{date: 'components/table-custom-filters/date.html'}" sortable="'date'">{{row.date | date: 'd/M/yyyy HH:mm:ss'}}</td>
        <td title="'Κωδ.'" filter="{uniqId: 'number'}" sortable="'uniqId'">{{row.uniqId}}</td>
        <td title="'Τίτλος'" filter="{receiptNum: 'text'}" sortable="'receiptNum'">{{row.receiptNum}}</td>
        <td title="'Κατάθεση/Μετρητά/Επιταγή'">{{row.bank}}/{{row.cash}}/{{row.check}}</td>
<!--         <td title="'Κατάθεση'" filter="{bank: 'number'}" sortable="'bank'">{{row.bank}}</td>
        <td title="'Μετρητά'" filter="{cash: 'number'}" sortable="'cash'">{{row.cash}}</td>
        <td title="'Επιταγή'" filter="{check: 'number'}" sortable="'check'">{{row.check}}</td> -->
        <td title="'Σύνολο'">{{row.getTotalPrice()}}</td>
        <td title="'Σχόλιο'" filter="{commend: 'text'}" sortable="'commend'">{{row.commend}}</td>
        <td>
          <button type="button" ng-click="allReceiptsCtrl.editReceipt(row)" class="btn btn-primary btn-sm" title="Επεξεργασία"><i class="fa fa-pencil"></i></button>
          <button type="button" ng-click="allReceiptsCtrl.deleteReceipt(row)" class="btn btn-danger btn-sm" title="Διαγραφή"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
    </table>
    <span ng-hide="allReceiptsCtrl.items.length">Δεν υπάρχουν καταχωρήσεις.</span>
  </div>

  </div>
</div>
